#!/bin/env sh
# Shebang here is for shellcheck.
#
# WARNING! This file should not be executed directly. Sourced by, for example, lightdm
# WARNING! This file should only contain POSIX-compliant commands and directives.

# PATH ADDITIONS
export PATH="${PATH:+${PATH}}\
:$HOME/.local/bin\
:$HOME/work/tools\
:$HOME/work/logins"

# Set default programs through environment variables
# These are used by, for example, my Qtile config and Thunar custom actions
export MY_EMAIL_CLIENT="thunderbird"
export MY_EXPLORER="thunar"
export MY_SCREENSHOT="flameshot gui"
export MY_SYSTEM_MONITOR="psensor"
export MY_VOLUME_MANAGER="pavucontrol"
export MY_WORK_COMMUNICATION="skypeforlinux"
export MY_MEDIA_PLAYER="celluloid"
export MY_MUSIC_PLAYER="audacious --play"

export EDITOR="nvim"
export VISUAL="nvim"
export TERMINAL="kitty"
export BROWSER="firefox"

# Rofi launcher etc.
ROFI_DIR="$HOME/.config/rofi"
export ROFI_SCRIPTS="$ROFI_DIR/scripts"
ROFI_WRAPPER="$ROFI_SCRIPTS/rofi-wrapper"
export MY_LAUNCHER="$ROFI_WRAPPER run"
export MY_GAMES_LAUNCHER="$ROFI_WRAPPER games"
export MY_CLIPBOARD="$ROFI_WRAPPER clipboard"

# Stowed dotfiles directory
export DOTFILES="$HOME/.dotfiles"

# ZSH config file
export ZDOTDIR="$HOME/.config/zsh"

# For QT Themes
export QT_QPA_PLATFORMTHEME="qt5ct"

# $HOME cleanup
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_STATE_HOME="$HOME/.local/state"
export XDG_CACHE_HOME="$HOME/.cache"
export HISTFILE="$XDG_STATE_HOME/bash/history"
export LESSHISTFILE="$XDG_CACHE_HOME/less/history"
export GNUPGHOME="$XDG_DATA_HOME/gupg"
export XCURSOR_PATH="/usr/share/icons:${XDG_DATA_HOME}/icons"
export ERRFILE="$XDG_CACHE_HOME/X11/xsession-errors"
export GTK2_RC_FILES="$XDG_CONFIG_HOME/.gtkrc-2.0"
alias wget=wget --hsts-file='$XDG_DATA_HOME'/wget-hsts

# START
# Compositor
picom &
# Wallpaper manager
variety &
# Clipboard
greenclip daemon &
# Polkit authenticator
lxqt-policykit-agent &

# Turn sleep off
xset s off
xset s 0 0
xset -dpms
