# Append to PATH
ADDITIONAL_PATHS=(
    ".local/bin"
    "work/tools"
    "work/logins"
)
for additional_path in "${ADDITIONAL_PATHS[@]}"; do
    export PATH="${PATH:+${PATH}:}$HOME/$additional_path"
done;

# Set default programs through environment variables
# These are used by, for example, my Qtile config and Thunar custom actions
export MY_EMAIL_CLIENT="thunderbird"
export MY_EXPLORER="thunar"
export MY_SCREENSHOT="flameshot gui"
export MY_SYSTEM_MONITOR="psensor"
export MY_VOLUME_MANAGER="pavucontrol"
export MY_WORK_COMMUNICATION="skypeforlinux"
export MY_MEDIA_PLAYER="celluloid"
export MY_MUSIC_PLAYER="audacious --play"

export EDITOR="nvim"
export VISUAL="nvim"
export TERMINAL="kitty"
export BROWSER="firefox"

# Rofi launcher etc.
ROFI_DIR="$HOME/.config/rofi"
export ROFI_SCRIPTS="$ROFI_DIR/scripts"
ROFI_WRAPPER="$ROFI_SCRIPTS/rofi-wrapper"
export MY_LAUNCHER="$ROFI_WRAPPER run"
export MY_GAMES_LAUNCHER="$ROFI_WRAPPER games"
export MY_CLIPBOARD="$ROFI_WRAPPER clipboard"

# Stowed dotfiles directory
export DOTFILES="$HOME/.dotfiles"

# ZSH config file
export ZDOTDIR="$HOME/.config/zsh"

# For QT Themes
export QT_QPA_PLATFORMTHEME="qt5ct"

# START
# Compositor
picom &
# Wallpaper manager
variety &
# Clipboard
greenclip daemon &
# Polkit authenticator
lxqt-policykit-agent &

# Turn sleep off
xset s off
xset s 0 0
xset -dpms
