#!/bin/env sh
# Shebang here is for shellcheck.
#
# WARNING! This file should not be executed directly. Sourced by, for example, lightdm
# WARNING! This file should only contain POSIX-compliant commands and directives.

. "/home/rolv/.config/base_profile.sh"

# START
# Compositor
picom &
# Wallpaper manager
variety &
# Clipboard
greenclip daemon &
# Polkit authenticator
lxqt-policykit-agent &
# Network manager applet
nm-applet &

# Turn sleep off
xset s off
xset s 0 0
xset -dpms
