#!/bin/env sh
# SKETCHY -------------------------------------------------------------------------------
# (If there's a problem look here first)
alias grep='rg'
alias cat='bat'
alias ls='eza -1la --icons --color=always --group-directories-first'

alias cp='cp -vi'
alias mv='mv -vi'
alias df='df -h'
alias yeet='rm -vrf'
alias rm='rm -v'

alias s='sudo'
alias se='sudoedit'

# TOOLS ---------------------------------------------------------------------------------
alias p="paru"
alias pR="paru -Rcns"
alias pS="paru -S"
alias update="sudo pacman --needed -Sy archlinux-keyring && paru -Syu --news"

alias nvim="env TERM=wezterm nvim"
alias n="nvim"
alias lg="lazygit"
alias mc="macchina"
alias js="just"

# Avoid $HOME/.wget-hsts file
alias wget=wget --hsts-file='$XDG_DATA_HOME/wget-hsts'
# Avoid $HOME/.yarnrc file
alias yarn='yarn --use-yarnrc $XDG_CONFIG_HOME/yarn/config'

# NAVIGATION ----------------------------------------------------------------------------
alias ..='cd ..'
alias .2='cd ../..'
alias .3='cd ../../..'
alias .4='cd ../../../..'
