#!/bin/env sh
# SKETCHY -------------------------------------------------------------------------------
# (If there's a problem look here first)
alias grep='rg'
alias cat='bat'
alias ls='eza -1la --icons --color=always --group-directories-first'

alias cp='cp -vi'
alias mv='mv -vi'
alias df='df -h'
alias yeet='rm -vrf'
alias rm='rm -v'

alias s='sudo'
alias se='sudoedit'

# TOOLS ---------------------------------------------------------------------------------
alias p="paru"
alias pR="paru -Rcns"
alias pS="paru -S"
alias update="sudo pacman --needed -Sy archlinux-keyring && paru -Syu --news"

alias nvim="env TERM=wezterm nvim"
alias n="nvim"
alias lg="lazygit"
alias mc="macchina"
alias js="just"

# Avoid $HOME/.wget-hsts file
alias wget=wget --hsts-file='$XDG_DATA_HOME/wget-hsts'
# Avoid $HOME/.yarnrc file
alias yarn='yarn --use-yarnrc $XDG_CONFIG_HOME/yarn/config'

# NAVIGATION ----------------------------------------------------------------------------
alias ..='cd ..'
alias .2='cd ../..'
alias .3='cd ../../..'
alias .4='cd ../../../..'

# GIT -----------------------------------------------------------------------------------
alias gits='git status'
alias gita='git add'
alias gitrm='git rm'
alias gitr='git restore'
alias gitc='git commit -m'
alias gitcdate='git pull && git add . && git commit -m "$(date)" && git push' # Dummy commit message for repos were it doesn't matter
alias gitamend='git commit --amend --no-edit'
alias gitp='git push'
alias gitpl='git pull'
alias gitstash='git stash -u'
alias gitd='git diff'
alias gitl='git log --graph --decorate --oneline'
alias gitlast='git log -1 HEAD --stat'
alias gitl-pretty='gitk --all --date-order $(git log -g --pretty=%H)'
alias gitcheck='git checkout'
alias gitbranch='git checkout $(git branch -l | fzf)'
# One liner for updating all repos in a directory, found under a comment under one of
# the answers here: https://stackoverflow.com/q/3497123/14316282
alias gitupdate='find . -mindepth 1 -maxdepth 1 -type d -print -exec git -C {} pull \;'
