@import "games-default"

window {
    fullscreen:                     true;
}

textbox-prompt {
    str:                            "";
    font:                           "Inconsolata Nerd Font Mono 24";
    padding:                        0px 5px 0px 5px;
}
