@import "colours.rasi"

* {
    font:                           "InconsolataLGC Nerd Font 16";
    background-color:             	@background;
    terminal: "kitty";
}

configuration {
    fixed-num-lines: 				true;
    show-icons: 					true;
    scroll-method: 					1;
    click-to-exit: 					true;
    display-window: 				"";
    display-windowcd: 				"";
    display-run: 					"";
    display-drun: 					"";
    display-combi: 					"";
    display-ssh: 					"";
}
