/* BASE */
* {
    border: none;
    font-family:
        SF Pro Display,
        FiraCode Nerd Font Mono;
    font-size: 18px;
}

tooltip {
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.8);
}

window#waybar {
    background: rgba(0, 0, 0, 0.8);
    transition: background-color 0.3s ease-out;
    border-radius: 0px;
}

/* GROUPS */
.modules-right {
    background: transparent;
    margin-right: 20px;
    border-radius: 0;
}
.modules-center {
    background: transparent;
    margin: 0 0 0 0;
    border-radius: 0;
}
.modules-left {
    background: transparent;
    margin-left: 20px;
    border-radius: 0;
}

/* MODULES */
#cpu, #pulseaudio, #network, #memory, #temperature, #battery, #tray, #clock {
    padding-right: 15px;
    padding-left: 15px;
    border-right: 0.3px solid #666666;
}
#clock {
    padding-right: 0;
    border-right: unset;
} 
#battery {
    padding-left: 0px;
}

/* WORKSPACES */
#workspaces button label {
    font-size: 14px;
}
#workspaces button {
    padding: 1px 5px;
    background: transparent;
    color: #4c566a;
    transition: all 0.3s ease-out;
}
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    color: #d8dee9;
}
#workspaces button.active {
    color: rgba(255, 255, 255, 0.9);
}
#workspaces button.urgent {
    color: #ffbbff;
}
