(
    selected_tab: Magenta,
    command_fg: White,
    selection_bg: Rgb(40, 44, 52),
    selection_fg: White,
    cmdbar_bg: Reset,
    cmdbar_extra_lines_bg: Reset,
    disabled_fg: DarkGray,
    diff_line_add: Green,
    diff_line_delete: Red,
    diff_file_added: LightRed,
    diff_file_removed: LightRed,
    diff_file_moved: Red,
    diff_file_modified: Red,
    commit_hash: Magenta,
    commit_time: LightCyan,
    commit_author: Green,
    danger_fg: Red,
    push_gauge_bg: Reset,
    push_gauge_fg: Reset,
    tag_fg: LightMagenta,
    branch_fg: LightYellow,
)
